* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: oklch(12.9% .042 264.695);
  color: white;
  font-family: sans-serif;
}

#root {
  --border: black;
  display: flex;
  flex-direction: column;
}

/* Header (20%) */
header {
  height: 20vh;
}

/* Main (80%) */
.container {
  flex: 1;
  display: flex;
  gap: 20px;

  padding: 0 100px 100px;
}

/* 좌측 */
.container > section:first-child {
  flex: 3;
}

/* 우측 */
.container > section:last-child {
  flex: 2;
}

section {
  padding: 1.25rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  border-color: color-mix(in oklab, oklch(27.9% .041 260.031) 40%, transparent);
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 120px;
    height: 170px;
}

.character-card img{
  width: 95px;
  height: auto;
}